In [5]:
import nltk

In [35]:
nltk.download('stopwords')

import re                                  
import string                             
from nltk.corpus import stopwords 
from nltk.stem import PorterStemmer
# from nltk.tokenize import TweetTokenize
from tqdm.auto import tqdm
tqdm.pandas()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/skaarfacee/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [62]:
import nltk
from nltk.corpus import stopwords
import time 
nltk.download('stopwords')
stop = stopwords.words('english')
def stopWordsData(data,col):
    data["text"] = data[col].progress_apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
    return data

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/skaarfacee/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [63]:
import pandas as pd
df=pd.read_csv('./scrapeTweets.csv',index_col=0)

In [64]:
df=df.dropna()

In [65]:
data=stopWordsData(df,'text')
data.head(5)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1186/1186 [00:00<00:00, 20161.08it/s]

,username,following,followers,retweetcount,text,DD
0,adamu3820,1508.0,910.0,0.0,DATA &gt; OPINION... {INNOVATION} How Do Big T...,2016-01-04
1,Himartist1,271.0,38.0,102.0,$FB $AAPL $AMZN $NFLX &amp; $GOOGL lost $1 tri...,2016-01-05
2,ClashClav,191.0,116.0,6.0,Falling .. $AAPL ðŸŽ¯ = $133 $118 ; $MSFT ðŸŽ¯ = $26...,2016-01-06
3,BelindaCroft3,35.0,3.0,18.0,"In real terms, US stocks pace worst year since...",2016-01-07
4,BobBarnesdesk,3978.0,1958.0,102.0,$FB $AAPL $AMZN $NFLX &amp; $GOOGL lost $1 tri...,2016-01-08

In [66]:
import string
import re
def rem_pun(txt):
  tmp=[''.join(re.sub(r'<.*?>','@',word)) for word in txt.split(' ')]
  txt=' '.join([c for c in tmp])
  txt="".join([c for c in txt if c not in string.punctuation])
  return txt
def removeSpecialChars(data):
    data["text"] = data["text"].progress_apply(lambda x: rem_pun(x))
    return data

In [67]:
data=removeSpecialChars(data)
data.head(5)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1186/1186 [00:00<00:00, 28691.49it/s]

,username,following,followers,retweetcount,text,DD
0,adamu3820,1508.0,910.0,0.0,DATA gt OPINION INNOVATION How Do Big Tech Gia...,2016-01-04
1,Himartist1,271.0,38.0,102.0,FB AAPL AMZN NFLX amp GOOGL lost 1 trillion va...,2016-01-05
2,ClashClav,191.0,116.0,6.0,Falling AAPL ðŸŽ¯ 133 118 MSFT ðŸŽ¯ 265 amp 240 ...,2016-01-06
3,BelindaCroft3,35.0,3.0,18.0,In real terms US stocks pace worst year since ...,2016-01-07
4,BobBarnesdesk,3978.0,1958.0,102.0,FB AAPL AMZN NFLX amp GOOGL lost 1 trillion va...,2016-01-08

In [68]:
import re
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

In [69]:
data['text']=data['text'].progress_apply(lambda x: remove_emoji(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1186/1186 [00:00<00:00, 155025.07it/s]

In [71]:
data.head()

,username,following,followers,retweetcount,text,DD
0,adamu3820,1508.0,910.0,0.0,DATA gt OPINION INNOVATION How Do Big Tech Gia...,2016-01-04
1,Himartist1,271.0,38.0,102.0,FB AAPL AMZN NFLX amp GOOGL lost 1 trillion va...,2016-01-05
2,ClashClav,191.0,116.0,6.0,Falling AAPL 133 118 MSFT 265 amp 240 ht...,2016-01-06
3,BelindaCroft3,35.0,3.0,18.0,In real terms US stocks pace worst year since ...,2016-01-07
4,BobBarnesdesk,3978.0,1958.0,102.0,FB AAPL AMZN NFLX amp GOOGL lost 1 trillion va...,2016-01-08

In [72]:
data.to_csv('cleanTweets.csv')